.container {
  margin: 0 auto;
  max-width: 960px;
}
body { 
    padding-top: 65px; 
}
@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
	.navbar-brand {display:none}
}

.thead-distance {border-bottom:thin}